<h1>New Section</h1>

<form action="/sections" method="post">
  <label for="section_name">Name</label>
  <input id="section_name" name="section[name]" type="text">
  <label for="section_order_number">Order Number</label>
  <input id="section_order_number " name="section[order_number]" type="int">
  <label for="section_chapter_id">Chapter ID</label>
  <input id="section_chapter_id" name="section[chapter_id]" type="int">
  <button>Create section</button>
</form>
