<div class="container">
<h1>New Lesson</h1>

<form class="form-horizontal" action="/lessons" method="post">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" class="form-control" name="lesson[name]" type="text">
  <label for="lesson_order_number">Order Number</label>
  <input id="lesson_order_number" class="form-control" name="lesson[order_number]" type="int">
  <input name="lesson[section_id]" class="form-control" type="hidden">
  <select name="lesson[section_id]" class="form-control">
    <% @sections.each do |section| %>
      <option value="<%= section.id %>"><%= section.name %></option>
    <% end %>
  </select>
  <br>
  <label for="lesson_body">Text</label>
  <textarea class="form-control" rows="4" id="lesson_body" name="lesson[body]"></textarea>
  <button class="btn btn-success">Create Lesson</button>
</form>

</div>
