<h1>New Chapter</h1>

<form action="/chapters" method="post">
  <label for="chapter_name">Name</label>
  <input id="chapter_name" name="chapter[name]" type="text">
  <label for="chapter_order_number">Order Number</label>
  <input id="chapter_order_number " name="chapter[order_number]" type="int">

  <button>Create chapter</button>
</form>
