<body>

<div class="container">
<h1>New Chapter</h1>

<form class="form-horizontal" action="/chapters" method="post">
  <label for="chapter_name">Name</label>
  <input id="chapter_name" class="form-control" name="chapter[name]" type="text">
  <label for="chapter_order_number">Order Number</label>
  <input id="chapter_order_number" class="form-control" name="chapter[order_number]" type="int">

  <button class="btn btn-success">Create chapter</button>
</form>

</div>

</body>
